# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.test

# Prisma
prisma/dev.db
prisma/migrations/
src/generated/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Test
coverage/

# NestJS
.angular/
